{% extends 'base.html' %}
{% block icon %}
    <img src="/static/media/hound.png" alt="HoundSploit">
{% endblock %}
{% block h1_style %}style="margin-top: 10px"{% endblock %}
{% block input_form %}
    <form action="{% url 'get_results_table_advanced' %}" method="POST">
        {% csrf_token %}
        {{ form.search_text }}
        <button name="advanced_search_btn" type="submit">Search</button>
        <div class="info_container">
            <label>Search operator:</label>
            {{ form.operator }}
            <label>Author:</label>
            {{ form.author }}<br>
            <label>Type:</label>
            {{ form.type }}
            <label>Platform:</label>
            {{ form.platform }}
            <label>Port:</label>
            {{ form.port }}
        </div>
    </form>
{% endblock %}